{% extends 'base.html.twig' %}
{% import "theme/actions.html.twig" as action %}

{% block title %}Vendedor index
{% endblock %}

{% block body %}
	<h4>Vendedor index</h4>

	<table class="table style-two">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Telefono</th>
				<th>Direccion</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for vendedor in vendedors %}
				<tr>
					<td>{{ vendedor.id }}</td>
					<td>{{ vendedor.nombre }}</td>
					<td>{{ vendedor.telefono }}</td>
					<td>{{ vendedor.direccion }}</td>
					<td>
						<div class="text-center">
							{{action.btn_show(path('app_vendedor_show', {'id': vendedor.id}))}}
							{{action.btn_edit(path('app_vendedor_edit', {'id': vendedor.id}))}}
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{action.btn_new(path('app_vendedor_new'))}}
{% endblock %}
